body {
  font-family: Verdana;
  text-align: center;
}
.visible-html {
  background-color: black;
}
.first-heading {
  font-size: 50px;
  color: white;
  text-align: center;
}
.excursion-link {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
}
.phone-video {
  display: block;
  margin: auto;
  align-content: center;
  border-color: green;
}
.camping {
  display: block;
  margin: auto;
}
.phone {
  display: block;
  margin: auto;
}
.secondary-heading {
  color: white;
  text-align: center;
}
.description {
  font-size: 21px;
  color: gray;
  text-align: center;
}
.copyright {
  font-size: 21px;
  text-align: right;
  color: gray;
}
